<% content_for :title do %>
  Admin Panel
<% end %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Postcode</th>
      <th>Number</th>
    </tr>
  </thead>
  <tbody>
    <% Subscriber.all.each do |subscriber| %>
      <tr>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.postcode %></td>
        <td><%= subscriber.number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
