<div class='row'>
  <div class='col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 '>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4>You are now registered for Flood Alerts</h4>
      </div>
      <div class='panel-body'>
        <p>
          Thank you for subscribing to Nexmo Flood Alerts. You will now automatically
          receive new flood alerts via your phone.
        </p>
      </div>
    </div>
  </div>
</div>
