<% content_for :title do %>
  You are now registered for Flood Alerts
<% end %>

<p>
  Thank you for subscribing to Nexmo Flood Alerts. You will now automatically
  receive new flood alerts via your phone.
</p>
